NotebookLLM Clone (v4 - Batch Upload).json
{
  "name": "NotebookLLM Clone (v4 - Batch Upload)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "notebookllm-start",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "64f6f1ed-de77-463a-9713-b511c4d0a87c",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2592,
        400
      ],
      "webhookId": "notebooklm-webhook"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "new_source",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "URL Source"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "upload_file",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "File Upload"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "paste_text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Paste Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "chat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Chat"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "upload_batch",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Batch Upload"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "69cef6cd-6ddd-4a91-b8d0-c6f43ffad2da",
      "name": "Action Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2240,
        512
      ]
    },
    {
      "parameters": {
        "jsCode": "const binaryData = $input.item.binary || {};\nconst json = $input.item.json;\nconst body = json.body || {};\nconst jobId = json.jobId;\nconst notebookId = body.notebookId || 'default';\n\nconst results = [];\nlet globalIndex = 0; // Biến đếm chung cho cả file và url\n\n// 1. Xử lý Binary Files\nconst binaryKeys = Object.keys(binaryData);\nfor (let i = 0; i < binaryKeys.length; i++) {\n  const key = binaryKeys[i];\n  const fileData = binaryData[key];\n  const fileName = fileData.fileName || `file_${i}`;\n  const mimeType = fileData.mimeType || '';\n  const ext = fileName.split('.').pop().toLowerCase();\n  \n  let fileType = 'text';\n  if (['pdf'].includes(ext) || mimeType.includes('pdf')) fileType = 'pdf';\n  else if (['jpg', 'jpeg', 'png', 'gif', 'webp'].includes(ext) || mimeType.startsWith('image/')) fileType = 'image';\n  else if (['docx'].includes(ext) || mimeType.includes('wordprocessingml')) fileType = 'docx';\n  \n  results.push({\n    json: {\n      jobId, notebookId, fileName, mimeType, fileType,\n      fileIndex: globalIndex++, // Tăng số thứ tự\n      sourceType: 'file',\n      isBatch: true\n    },\n    binary: { data: binaryData[key] }\n  });\n}\n\n// 2. Xử lý URLs\nlet urls = [];\ntry {\n    if (body.urls) {\n        urls = typeof body.urls === 'string' ? JSON.parse(body.urls) : body.urls;\n    }\n} catch (e) {}\n\nfor (let j = 0; j < urls.length; j++) {\n    const url = urls[j];\n    let fileType = 'website';\n    if (url.includes('youtube.com') || url.includes('youtu.be')) fileType = 'youtube';\n\n    results.push({\n        json: {\n            jobId, notebookId, \n            fileName: url, \n            url: url,\n            fileType: fileType,\n            fileIndex: globalIndex++, // Tiếp tục tăng số thứ tự\n            sourceType: 'url',\n            isBatch: true\n        }\n    });\n}\n\nconst totalFiles = results.length;\nresults.forEach(item => item.json.totalFiles = totalFiles);\n\nif (results.length === 0) {\n  throw new Error('No files or URLs uploaded');\n}\n\nreturn results;"
      },
      "id": "2aadfc8a-f1bc-4aac-9496-46dbe78175c8",
      "name": "Split Batch Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1984,
        1296
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.fileType }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7f75732b-a440-4cfa-b27a-6d0372cd2075"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.fileType }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b73c985d-4284-4592-8761-ec6f928fac4e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.fileType }}",
                    "rightValue": "docx",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a83ba3a8-574f-4733-8d30-61ba82160b5c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DOCX"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d73f550a-d48d-45d3-ab2c-3118c35aa0cb",
                    "leftValue": "={{ $json.fileType }}",
                    "rightValue": "youtube",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "YouTube"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "27ca1f90-ff3d-4fe6-959a-0e7d1c83ec14",
                    "leftValue": "={{ $json.fileType }}",
                    "rightValue": "website",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Website"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "ignoreCase": true
        }
      },
      "id": "32a56009-4ce7-447c-af0a-5fc63068ea6e",
      "name": "Batch File Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1904,
        1648
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "98d24b78-2e33-4a40-8b1e-1d5c259005c0",
      "name": "Batch Extract PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1552,
        1104
      ]
    },
    {
      "parameters": {
        "jsCode": "// Normalize PDF result for batch\nconst text = $input.item.json.text || $input.item.json.data || '';\nconst prevJson = $('Batch File Router').item.json;\n\nreturn {\n  json: {\n    jobId: prevJson.jobId,\n    notebookId: prevJson.notebookId,\n    fileName: prevJson.fileName,\n    fileIndex: prevJson.fileIndex,\n    totalFiles: prevJson.totalFiles,\n    content: text,\n    title: prevJson.fileName.replace(/\\.[^.]+$/, ''),\n    sourceType: 'pdf',\n    isBatch: true\n  }\n};"
      },
      "id": "c50560b8-8d39-4ff6-a1be-5a7a27badc89",
      "name": "Batch Normalize PDF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1344,
        1104
      ]
    },
    {
      "parameters": {
        "jsCode": "const mammoth = require('mammoth');\n\n// Lấy tất cả các items đầu vào cùng lúc\nconst items = $input.all();\nconst results = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const binaryData = item.binary;\n  \n  if (!binaryData || !binaryData.data) {\n    results.push({ json: { ...item.json, content: '[Error: No file data]', sourceType: 'docx' } });\n    continue;\n  }\n  \n  try {\n    // Dùng index i để lấy đúng buffer của file tương ứng\n    const buffer = await this.helpers.getBinaryDataBuffer(i, 'data');\n    const result = await mammoth.extractRawText({ buffer: buffer });\n    \n    results.push({\n      json: {\n        ...item.json, // Giữ lại thông tin file name, job id...\n        content: result.value,\n        sourceType: 'docx',\n        isBatch: true\n      }\n    });\n  } catch (err) {\n    results.push({\n      json: {\n        ...item.json,\n        content: `[Error extracting DOCX: ${err.message}]`,\n        sourceType: 'docx',\n        isBatch: true\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "ecf39551-65d7-48aa-9d28-6837ba6b85e7",
      "name": "Batch Extract DOCX",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1552,
        1296
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const binaryData = item.binary;\n\n  if (!binaryData || !binaryData.data) {\n    results.push({ json: { ...item.json, content: '[No file data]', sourceType: 'text', isBatch: true } });\n    continue;\n  }\n\n  try {\n    const buffer = await this.helpers.getBinaryDataBuffer(i, 'data');\n    const text = buffer.toString('utf8');\n    \n    results.push({\n      json: {\n        ...item.json,\n        content: text,\n        sourceType: 'text',\n        isBatch: true\n      }\n    });\n  } catch (err) {\n    results.push({ json: { ...item.json, content: '[Error reading text]', sourceType: 'text' } });\n  }\n}\n\nreturn results;"
      },
      "id": "3d3c5437-bb62-494c-b7d6-57016c571ac3",
      "name": "Batch Extract Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1552,
        1504
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const binaryData = item.binary;\n\n  if (!binaryData || !binaryData.data) {\n    results.push({ json: { ...item.json, content: '[No image data]', sourceType: 'image', isBatch: true } });\n    continue;\n  }\n\n  let b64 = '';\n  try {\n    const buffer = await this.helpers.getBinaryDataBuffer(i, 'data');\n    b64 = buffer.toString('base64').replace(/\\s/g, '');\n  } catch (e) {\n    results.push({ json: { ...item.json, content: '[Error reading image]', sourceType: 'image', isBatch: true } });\n    continue;\n  }\n\n  const mime = binaryData.data.mimeType || 'image/jpeg';\n  const imageUrl = `data:${mime};base64,${b64}`;\n\n  const payload = {\n    model: 'deepseek-ai/DeepSeek-OCR',\n    temperature: 0,\n    messages: [\n      {\n        role: 'user',\n        content: [\n          { type: 'text', text: 'Extract all text from this image. Maintain structure.' },\n          { type: 'image_url', image_url: { url: imageUrl } }\n        ]\n      }\n    ]\n  };\n\n  results.push({\n    json: {\n      ...item.json,\n      requestPayload: payload\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "3a7cebca-d3e7-473a-a7b2-d8b2c33ab635",
      "name": "Batch Prepare Image OCR",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1552,
        1712
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://106.104.117.24:8110/v1/chat/completions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestPayload) }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "12e8335c-ff67-4d46-a0ce-0d76f94d7f1f",
      "name": "Batch Image OCR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1344,
        1712
      ]
    },
    {
      "parameters": {
        "jsCode": "// Process Image OCR result for batch\nconst prevJson = $('Batch Prepare Image OCR').item.json;\n\nlet text = '';\nif ($input.item.json.choices && $input.item.json.choices[0]) {\n  text = $input.item.json.choices[0].message?.content || '';\n}\n\nreturn [{\n  json: {\n    jobId: prevJson.jobId,\n    notebookId: prevJson.notebookId,\n    fileName: prevJson.fileName,\n    fileIndex: prevJson.fileIndex,\n    totalFiles: prevJson.totalFiles,\n    content: text,\n    title: prevJson.fileName.replace(/\\.[^.]+$/, ''),\n    sourceType: 'image',\n    isBatch: true\n  }\n}];"
      },
      "id": "6e0b1c17-67cd-4b33-9832-7b21ac23ef96",
      "name": "Batch Process Image OCR",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1136,
        1712
      ]
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// COLLECT BATCH RESULTS\n// Gộp content từ tất cả files đã xử lý\n// ========================================\n\nconst allItems = $input.all();\n\nif (allItems.length === 0) {\n  throw new Error('No items to process');\n}\n\nconst jobId = allItems[0].json.jobId;\nconst notebookId = allItems[0].json.notebookId;\n\nconst sources = [];\nlet combinedContent = '';\n\n// Sort by fileIndex to maintain order\nconst sortedItems = [...allItems].sort((a, b) => \n  (a.json.fileIndex || 0) - (b.json.fileIndex || 0)\n);\n\nsortedItems.forEach((item, index) => {\n  const json = item.json;\n  const content = json.content || '';\n  const title = json.title || json.fileName || `Source ${index + 1}`;\n  const type = json.sourceType || 'document';\n  \n  sources.push({\n    id: `${jobId}-${index}`,\n    title: title,\n    type: type,\n    content: content.substring(0, 15000)\n  });\n  \n  combinedContent += `\\n\\n--- SOURCE ${index + 1}: ${title} (${type}) ---\\n${content.substring(0, 10000)}`;\n});\n\n// Detect language\nfunction detectLanguage(text) {\n  const vnPattern = /[àáạảãâầấậẩẫăằắặẳẵèéẹẻẽêềếệểễìíịỉĩòóọỏõôồốộổỗơờớợởỡùúụủũưừứựửữỳýỵỷỹđ]/gi;\n  if ((text.match(vnPattern) || []).length > 5) return 'Vietnamese';\n  return 'English';\n}\n\nconsole.log(`📊 Collected ${sources.length} sources for batch summary`);\n\nreturn [{\n  json: {\n    jobId,\n    notebookId,\n    sources,\n    combinedContent: combinedContent.substring(0, 50000),\n    sourceCount: sources.length,\n    detectedLanguage: detectLanguage(combinedContent)\n  }\n}];"
      },
      "id": "a90eb2d5-3d43-42aa-893e-1c572f080be4",
      "name": "Batch Collect Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        1296
      ]
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// PREPARE BATCH SUMMARY\n// Tạo prompt để AI tóm tắt nhiều files cùng lúc\n// ========================================\n\nconst input = $input.item.json;\nconst sources = input.sources || [];\nconst content = input.combinedContent || '';\nconst lang = input.detectedLanguage || 'English';\nconst jobId = input.jobId;\n\nconst sourceList = sources.map((s, i) => `${i + 1}. ${s.title} (${s.type})`).join('\\n');\n\nconst prompt = `You are an expert AI researcher analyzing multiple documents.\n\nDOCUMENTS BEING ANALYZED (${sources.length} files):\n${sourceList}\n\nCOMBINED CONTENT:\n${content}\n\n---\nTASK: Provide a comprehensive analysis of ALL documents above.\n\nINSTRUCTIONS:\n1. Start with an **Overall Summary** (3-4 sentences) capturing the main themes across all documents.\n2. For each document, provide a brief individual summary (1-2 sentences).\n3. If there are connections between documents, mention them.\n4. List **Key Takeaways** (5-7 bullet points) from the combined content.\n5. **CRITICAL: CITATIONS REQUIRED.** For every specific fact, number, date, or quote, you MUST append the source reference in brackets immediately after the statement (e.g., \"Salary is $1,100 [Source 3]\" or \"Supervisor ignored warnings [Source 1]\").\n6. OUTPUT MUST BE IN ${lang.toUpperCase()}.\n\nFORMAT:\n## Overall Summary\n[Combined analysis with citations]\n\n## Document Summaries\n- **[Title 1]**: [Summary]\n...\n\n## Key Takeaways\n- [Point 1 containing fact] [Source X]\n- [Point 2 containing fact] [Source Y]\n...`;\nconst requestBody = {\n  model: \"gpt-oss:120b\",\n  prompt: prompt,\n  stream: false,\n  temperature: 0.3\n};\n\nreturn {\n  json: {\n    ...input,\n    requestBodyString: JSON.stringify(requestBody)\n  }\n};"
      },
      "id": "32dc3999-d306-453d-b16b-e330d36154f5",
      "name": "Batch Prepare Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        1296
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://106.104.117.24:8434/api/generate",
        "sendBody": true,
        "specifyBody": "=json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={{ $json.requestBodyString }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "45065d74-f218-427f-9759-50522ec16b0a",
      "name": "Batch LLM Summarize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -496,
        1296
      ]
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// SAVE BATCH SESSION\n// Lưu kết quả batch vào staticData\n// ========================================\n\nconst staticData = $getWorkflowStaticData('global');\nconst collectData = $('Batch Collect Results').item.json;\nconst jobId = collectData.jobId;\nconst notebookId = collectData.notebookId;\nconst sources = collectData.sources || [];\n\n// Get LLM response\nconst llmResponse = $input.item.json.response || '';\n\n// Update job status\nif (!staticData.jobs) staticData.jobs = {};\nif (staticData.jobs[jobId]) {\n  staticData.jobs[jobId].status = 'completed';\n  staticData.jobs[jobId].results = {\n    notebookId,\n    sources: sources.map(s => ({\n      id: s.id,\n      title: s.title,\n      type: s.type\n    })),\n    combinedSummary: llmResponse,\n    summary: llmResponse,\n    title: `Batch: ${sources.length} files`,\n    sourceCount: sources.length\n  };\n}\n\n// Save to notebooks\nif (!staticData.notebooks) staticData.notebooks = {};\nif (!staticData.notebooks[notebookId]) staticData.notebooks[notebookId] = [];\n\nsources.forEach(source => {\n  staticData.notebooks[notebookId].push({\n    id: source.id,\n    title: source.title,\n    content: source.content,\n    summary: llmResponse,\n    type: source.type,\n    batchJobId: jobId,\n    addedAt: new Date().toISOString()\n  });\n});\n\nconsole.log(`✅ Batch saved: ${sources.length} sources to notebook ${notebookId}`);\n\nreturn {\n  json: {\n    jobId,\n    notebookId,\n    success: true,\n    sourceCount: sources.length\n  }\n};"
      },
      "id": "8b43121e-610c-43f4-9fff-6aae9e56eb71",
      "name": "Batch Save Session",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        1296
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.url }}",
                    "rightValue": "youtube.com",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "YouTube"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.url }}",
                    "rightValue": "youtu.be",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "YouTube"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "4cf59c29-f8e5-4239-b652-269aa0df3919",
      "name": "URL Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1984,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract YouTube Video ID from URL\nconst url = $input.item.json.body.url;\nlet videoId = '';\nconst jobId = $input.item.json.jobId; \nconst match1 = url.match(/[?&]v=([a-zA-Z0-9_-]{11})/);\nif (match1) videoId = match1[1];\nconst match2 = url.match(/youtu\\.be\\/([a-zA-Z0-9_-]{11})/);\nif (match2) videoId = match2[1];\nconst match3 = url.match(/embed\\/([a-zA-Z0-9_-]{11})/);\nif (match3) videoId = match3[1];\n\nreturn {\n  json: {\n    ...($input.item.json),\n    jobId,\n    videoId,\n    sourceType: 'youtube'\n  }\n};"
      },
      "id": "cd834dd7-56e0-44ec-8e3b-f40b3491e419",
      "name": "Extract Video ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1792,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.item.json;\nconst jobId = $('Init Job').item.json.jobId;\nlet transcript = '';\nlet title = '';\nlet thumbnail = '';\n\ntry {\n  let response = inputData;\n  if (Array.isArray(inputData) && inputData.length > 0) {\n    response = inputData[0];\n  }\n  title = response.title || '';\n  thumbnail = response.thumbnail || '';\n  if (response.transcript_only_text && typeof response.transcript_only_text === 'string') {\n    transcript = response.transcript_only_text;\n  } else if (response.transcript && Array.isArray(response.transcript)) {\n    transcript = response.transcript.map(item => item.text || '').join(' ');\n  } else if (response.content && Array.isArray(response.content)) {\n    transcript = response.content.map(c => c.text || '').join(' ');\n  } else if (response.captions && Array.isArray(response.captions)) {\n    transcript = response.captions.map(c => c.text || '').join(' ');\n  } else if (typeof response.content === 'string') {\n    transcript = response.content;\n  } else if (typeof response.transcript === 'string') {\n    transcript = response.transcript;\n  }\n} catch (e) {\n  transcript = '';\n}\n\ntranscript = String(transcript || '').trim();\n\nif (transcript.length > 50) {\n  return {\n    json: {\n      jobId, \n      body: $('Webhook').item.json.body,\n      content: transcript,\n      title: title,\n      thumbnail: thumbnail,\n      sourceType: 'youtube'\n    }\n  };\n} else {\n  return {\n    json: {\n      jobId, \n      body: $('Webhook').item.json.body,\n      content: '[No usable transcript found]',\n      title: title,\n      thumbnail: thumbnail,\n      sourceType: 'youtube',\n      error: 'Transcript parsing failed or empty'\n    }\n  };\n}"
      },
      "id": "aeb53e59-e47e-401d-a7de-ba035c3d524a",
      "name": "Process Transcript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1392,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.body.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "f15e1f04-fc23-46e0-850c-6f778e533822",
      "name": "Fetch Website HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1792,
        208
      ]
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "content",
              "cssSelector": "body"
            }
          ]
        },
        "options": {
          "trimValues": true
        }
      },
      "id": "4a83917d-a2e5-493c-85cc-6ded3dc51834",
      "name": "Extract Text",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -1584,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const html = $input.item.json.data || $input.item.json.content || '';\nconst jobId = $('Init Job').item.json.jobId;\n\nfunction cleanWebContent(rawText) {\n  let content = rawText;\n  content = content.replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '').replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '').replace(/<noscript[^>]*>[\\s\\S]*?<\\/noscript>/gi, '');\n  content = content.replace(/<[^>]+>/g, ' ');\n  content = content.replace(/&nbsp;/g, ' ').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&quot;/g, '\"').replace(/&#39;/g, \"'\").replace(/&[a-zA-Z0-9]+;/g, ' ');\n  content = content.replace(/\\s+/g, ' ').replace(/\\n{3,}/g, '\\n\\n').trim();\n  return content;\n}\n\nfunction extractTitle(url, content) {\n  const titleMatch = content.match(/^#+\\s*(.+?)(?:\\n|$)/);\n  if (titleMatch) return titleMatch[1].trim();\n  if (url) {\n    const urlParts = url.split('/').filter(p => p);\n    const lastPart = urlParts[urlParts.length - 1];\n    if (lastPart) {\n      return lastPart.replace(/[-_]/g, ' ').replace(/\\.\\w+$/, '').split(' ').map(w => w.charAt(0).toUpperCase() + w.slice(1)).join(' ');\n    }\n  }\n  return '';\n}\n\nlet content = cleanWebContent(html);\nconst url = $('Webhook').item.json.body?.url || '';\nconst title = extractTitle(url, content);\n\nconst MAX_LENGTH = 12000;\nif (content.length > MAX_LENGTH) {\n  const truncated = content.substring(0, MAX_LENGTH);\n  const lastPeriod = truncated.lastIndexOf('.');\n  if (lastPeriod > MAX_LENGTH * 0.8) {\n    content = truncated.substring(0, lastPeriod + 1);\n  } else {\n    content = truncated + '...';\n  }\n}\n\nreturn {\n  json: {\n    jobId,\n    body: $('Webhook').item.json.body,\n    content,\n    title,\n    sourceType: 'website'\n  }\n};"
      },
      "id": "b7168dd3-c9ba-4699-963d-5ac5dd7a8811",
      "name": "Clean Web Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1392,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://106.104.117.24:8434/api/generate",
        "sendBody": true,
        "specifyBody": "=json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={{ $json.requestBodyString }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "191fce93-0ebc-4f9f-b63b-b67e42792a9e",
      "name": "LLM Summarize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -592,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst input = $('Init Job').item.json; \nconst jobId = input.jobId;\nconst notebookId = input.body.notebookId || 'default-notebook';\nconst llmResponse = $input.item.json.response || $input.item.json.message?.content || '';\nconst webhookData = $('Webhook').item.json;\n\nlet content = '';\nlet title = '';\nlet sourceType = 'unknown';\n\ntry {\n  const prepareData = $('Prepare For LLM').item.json;\n  if (prepareData) {\n    content = prepareData.content || '';\n    title = prepareData.title || 'Untitled';\n    sourceType = prepareData.sourceType || 'unknown';\n  }\n} catch(e) {\n  content = $json.content || ''; \n}\n\nif (!staticData.jobs) staticData.jobs = {};\nif (staticData.jobs[jobId]) {\n  staticData.jobs[jobId].status = 'completed';\n  staticData.jobs[jobId].results = { \n    notebookId: notebookId,\n    title: title, \n    summary: llmResponse \n  };\n}\n\nif (!staticData.notebooks) staticData.notebooks = {};\nif (!staticData.notebooks[notebookId]) staticData.notebooks[notebookId] = [];\n\nif (content && content.length > 0) {\n    staticData.notebooks[notebookId].push({\n      id: jobId,\n      title: title,\n      content: content,\n      summary: llmResponse,\n      type: sourceType,\n      url: webhookData.body?.url || '',\n      addedAt: new Date().toISOString()\n    });\n}\n\nreturn {\n  json: {\n    jobId,\n    notebookId,\n    title,\n    success: true,\n    contentLength: content.length\n  }\n};"
      },
      "id": "52d62385-3055-41ae-a01d-d58d688b6e5c",
      "name": "Save Session",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst body = $input.item.json.body || {};\nconst notebookId = body.notebookId || 'default-notebook';\nconst sources = staticData.notebooks ? (staticData.notebooks[notebookId] || []) : [];\n\nreturn {\n  json: {\n    ...($input.item.json),\n    notebookId: notebookId,\n    sources: sources,\n    sourceCount: sources.length,\n    sessionFound: sources.length > 0\n  }\n};"
      },
      "id": "e0e20319-bee4-43db-a094-323ae24e69e7",
      "name": "Load Session",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1984,
        800
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.sessionFound }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Not Found"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.sessionFound }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Found"
            }
          ]
        },
        "options": {}
      },
      "id": "1dcb108d-23a0-4f2a-a641-9c4c228a4bea",
      "name": "Session Valid?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1824,
        800
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"error\": \"Session not found\", \"session_id\": \"{{ $json.body.session_id }}\"}",
        "options": {
          "responseCode": 404
        }
      },
      "id": "89ff3db7-1d97-45b7-8f9b-e1f84657e1bf",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1776,
        1184
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://106.104.117.24:8434/api/generate",
        "sendBody": true,
        "specifyBody": "=json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={{ $json.requestBodyString }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "4edca5c2-d942-4087-be7d-7fcc72158be6",
      "name": "LLM Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1392,
        896
      ]
    },
    {
      "parameters": {
        "jsCode": "const llmResponse = $input.item.json.response || $input.item.json.message?.content || '';\n\nreturn {\n  json: {\n    response: llmResponse,\n    session_id: $('Load Session').item.json.body.session_id\n  }\n};"
      },
      "id": "9f41d19d-a9e1-4a72-a572-d74e8dc4f7fc",
      "name": "Format Chat Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1152,
        928
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "a5512aae-ff21-4065-bd49-73239be49960",
      "name": "Respond Chat",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -992,
        800
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"error\": \"Invalid action. Use 'new_source', 'upload_file', 'upload_batch', or 'chat'\"}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "af523eb9-106f-456c-a37b-0744ddd59274",
      "name": "Respond Invalid Action",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1984,
        496
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/scrape-creators~best-youtube-transcripts-scraper/run-sync-get-dataset-items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"videoUrls\": [\n    \"https://www.youtube.com/watch?v={{ $json.videoId }}\"\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1584,
        0
      ],
      "id": "48c3940d-0580-4b5e-a236-c5a8af732d53",
      "name": "HTTP Request",
      "credentials": {
        "httpQueryAuth": {
          "id": "Hhz5k0wsXZ94ZKIM",
          "name": "Query Auth account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization, X-Requested-With, Origin, Accept"
              },
              {
                "name": "Access-Control-Max-Age",
                "value": "86400"
              }
            ]
          }
        }
      },
      "id": "e5a1f666-9550-4a16-8a4f-ba10daa6bd47",
      "name": "Respond Status",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -2192,
        1104
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\nconst jobId = (input.query && input.query.jobId) || (input.body && input.body.jobId) || input.jobId;\n\nif (!jobId) {\n  return [{ json: { success: true, status: 'alive', ping: true, timestamp: new Date().toISOString() } }];\n}\n\nconst staticData = $getWorkflowStaticData('global');\nlet entry = null;\nif (staticData.jobs && staticData.jobs[jobId]) {\n  entry = staticData.jobs[jobId];\n}\n\nif (!entry) {\n  return [{ json: { success: false, status: 'not_found', jobId, message: 'Job not found' } }];\n}\n\nif (entry.status === 'completed') {\n  return [{ json: { success: true, status: 'completed', jobId, result: entry.results, completedAt: entry.completedAt } }];\n}\n\nreturn [{ json: { success: true, status: 'processing', jobId, createdAt: entry.createdAt } }];"
      },
      "id": "8b707b1a-59d3-4ba6-bea0-8c2e4e340a3a",
      "name": "Get Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2384,
        1104
      ]
    },
    {
      "parameters": {
        "path": "notebookllm-status",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "7ff904b1-083e-4f38-80ea-1c0c1f0d9dc1",
      "name": "Webhook Status",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2560,
        1120
      ],
      "webhookId": "court-order-status"
    },
    {
      "parameters": {
        "jsCode": "const inputItem = $input.first();\nconst json = inputItem.json;\nconst binary = inputItem.binary;\n\nconst jobId = `job-${Date.now()}-${Math.random().toString(36).slice(2, 8)}`;\nconsole.log(`🚀 Job Created: ${jobId}`);\n\nconst incomingBody = json.body || json; \n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.jobs) staticData.jobs = {};\n\nstaticData.jobs[jobId] = {\n  status: 'processing',\n  createdAt: new Date().toISOString(),\n  result: null,\n  config: incomingBody\n};\n\nreturn {\n  json: {\n    jobId: jobId,\n    message: 'Job started',\n    body: incomingBody\n  },\n  binary: binary\n};"
      },
      "id": "ca589b7e-93df-414e-8178-24fe4c6c5624",
      "name": "Init Job",
      "type": "n8n-nodes-base.code",
      "position": [
        -2592,
        768
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\nconst jobId = item.jobId;\nconst expected = item.expected || 1;\n\nreturn [{\n  json: {\n    success: true,\n    jobId: jobId,\n    expected: expected,\n    message: 'Processing',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "24a0cd4a-4228-4e97-bc6f-333a2c73ae3f",
      "name": "init response",
      "type": "n8n-nodes-base.code",
      "position": [
        -2288,
        144
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "4cb5273c-e194-4022-868a-d06eaa54415f",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        -2048,
        96
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\nconst jobId = input.jobId;\nconst content = (input.content || '').substring(0, 15000);\nconst title = input.title || 'Untitled';\nconst sourceType = input.sourceType || 'document';\n\nfunction detectLanguage(text) {\n  const vietnamesePatterns = /[àáạảãâầấậẩẫăằắặẳẵèéẹẻẽêềếệểễìíịỉĩòóọỏõôồốộổỗơờớợởỡùúụủũưừứựửữỳýỵỷỹđ]/gi;\n  if ((text.match(vietnamesePatterns) || []).length > 5) return 'Vietnamese';\n  return 'English';\n}\nconst lang = detectLanguage(content);\n\nconst prompt = `You are an expert AI researcher building a knowledge base.\nTask: Summarize the following ${sourceType} content concisely.\n\nMETADATA:\n- Type: ${sourceType}\n- Title: ${title}\n- Language Target: ${lang}\n\nCONTENT:\n${content}\n\n----------------\nINSTRUCTIONS:\n1. Provide a **Brief Summary** (2-3 sentences) capturing the core idea.\n2. List 3-5 **Key Takeaways** (bullet points) containing specific facts/numbers if available.\n3. OUTPUT MUST BE IN ${lang.toUpperCase()}.\n4. Do not include intro/outro. Just the content.\n\nFORMAT:\n**Summary:**\n[Content]\n\n**Key Points:**\n- [Point 1]\n- [Point 2]\n...`;\n\nconst requestBody = {\n  model: \"gpt-oss:120b\",\n  prompt: prompt,\n  stream: false,\n  temperature: 0.3\n};\n\nreturn {\n  json: {\n    ...input,\n    jobId,\n    requestBodyString: JSON.stringify(requestBody),\n    detectedLanguage: lang\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        208
      ],
      "id": "b584de6a-a27c-4b24-948e-836096efcd5f",
      "name": "Prepare For LLM"
    },
    {
      "parameters": {
        "jsCode": "const sources = $input.item.json.sources || [];\nconst userMessage = $input.item.json.body?.message || '';\n\nlet fullContext = \"\";\nlet sourceList = [];\n\nsources.forEach((s, index) => {\n  const safeContent = (s.content || '').substring(0, 15000);\n  // Đánh dấu Source ID rõ ràng trong context\n  fullContext += `\\n--- SOURCE ${index + 1}: ${s.title} (${s.type}) ---\\n${safeContent}\\n`;\n  sourceList.push(`${index + 1}. ${s.title}`);\n});\n\nconst prompt = `You are NotebookLLM, an intelligent research assistant.\nYou have access to the following ${sources.length} sources:\n${sourceList.join('\\n')}\n\nFULL CONTENT CONTEXT:\n${fullContext}\n\n---\nUSER QUESTION: ${userMessage}\n\nINSTRUCTIONS:\n1. Answer the question based ONLY on the provided content above.\n2. **STRICT CITATION RULE:** Every fact, figure, or claim must be followed by its source index in brackets.\n   - Correct format: \"The patient suffered a leg fracture [Source 2] and earns $1,100 daily [Source 3].\"\n   - Do not guess. If a fact is in multiple sources, cite them all: [Source 1, Source 4].\n3. If the answer is not in the content, state clearly that you don't know based on the provided sources.\n4. Keep the tone professional and helpful.\n\nANSWER:`;\n\nconst requestBody = {\n  model: \"gpt-oss:120b\",\n  prompt: prompt,\n  stream: false,\n  temperature: 0.3\n};\n\nreturn {\n  json: {\n    ...$input.item.json,\n    requestBodyString: JSON.stringify(requestBody)\n  }\n};"
      },
      "id": "40280d8a-82d2-4b27-b0f3-c8992cf72b11",
      "name": "Prepare Chat Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1568,
        976
      ]
    },
    {
      "parameters": {
        "jsCode": "const binaryData = $input.item.binary;\nconst jobId = $input.item.json.jobId;\nconst body = $input.item.json.body || {};\n\nif (!binaryData) {\n  return { json: { error: 'No file uploaded', jobId } };\n}\n\nconst binaryKey = Object.keys(binaryData)[0];\nconst fileData = binaryData[binaryKey];\nconst fileName = fileData.fileName || 'unknown';\nconst mimeType = fileData.mimeType || '';\nconst ext = fileName.split('.').pop().toLowerCase();\n\nlet fileType = 'unknown';\nif (['pdf'].includes(ext) || mimeType.includes('pdf')) {\n  fileType = 'pdf';\n} else if (['jpg', 'jpeg', 'png', 'gif', 'webp', 'bmp'].includes(ext) || mimeType.startsWith('image/')) {\n  fileType = 'image';\n} else if (['docx'].includes(ext) || mimeType.includes('wordprocessingml')) {\n  fileType = 'docx';\n} else if (['doc'].includes(ext) || mimeType.includes('msword')) {\n  fileType = 'doc';\n} else if (['txt', 'md', 'csv'].includes(ext) || mimeType.startsWith('text/')) {\n  fileType = 'text';\n}\n\nreturn {\n  json: {\n    jobId,\n    fileName,\n    mimeType,\n    ext,\n    fileType,\n    body\n  },\n  binary: binaryData\n};"
      },
      "id": "bc778b55-ba8b-4226-820c-980116fcdc96",
      "name": "Detect File Type",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1984,
        608
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.fileType }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.fileType }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.fileType }}",
                    "rightValue": "docx",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DOCX"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.fileType }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "4ffb409a-656a-4a5b-ae09-c293b003a045",
      "name": "File Type Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1776,
        528
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "a65514f7-ae05-4465-9426-3ae95a100bd6",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1584,
        496
      ]
    },
    {
      "parameters": {
        "jsCode": "const text = $input.item.json.text || $input.item.json.data || '';\nconst jobId = $('Detect File Type').item.json.jobId;\nconst fileName = $('Detect File Type').item.json.fileName;\nconst needsOCR = !text || text.trim().length < 50;\n\nreturn {\n  json: { jobId, fileName, text: text, needsOCR, textLength: text.length },\n  binary: $input.item.binary\n};"
      },
      "id": "886053b5-d5bc-49cf-be66-1e08d5067185",
      "name": "Check PDF Has Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1392,
        496
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.needsOCR }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Needs OCR"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "7eb40185-f815-4fa2-9963-85c0785d911c",
      "name": "PDF Text Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1184,
        496
      ]
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\nconst fs = require('fs');\nconst path = require('path');\n\nconst jobId = $input.item.json.jobId;\nconst fileName = $input.item.json.fileName;\nconst binaryData = $input.item.binary;\n\nif (!binaryData) return [];\n\nconst binaryKey = Object.keys(binaryData)[0];\nconst tempDir = `/tmp/notebooklm_${jobId}`;\nconst pdfPath = `${tempDir}/input.pdf`;\nconst outputDir = `${tempDir}/pages`;\n\nfs.mkdirSync(outputDir, { recursive: true });\nconst fileBuffer = await this.helpers.getBinaryDataBuffer(0, binaryKey);\nfs.writeFileSync(pdfPath, fileBuffer);\n\ntry {\n  execSync(`pdftoppm -jpeg -jpegopt quality=70 -r 150 \"${pdfPath}\" \"${outputDir}/page\"`, { timeout: 120000 });\n} catch (e) {\n  console.error('PDF conversion error:', e.message);\n  return [];\n}\n\nconst images = fs.readdirSync(outputDir).filter(f => f.endsWith('.jpg')).sort().slice(0, 20);\n\nconst output = images.map((img, index) => {\n  const imgPath = path.join(outputDir, img);\n  const imgBuffer = fs.readFileSync(imgPath);\n  const base64 = imgBuffer.toString('base64');\n  \n  return {\n    json: { jobId, fileName, pageNumber: index + 1, totalPages: images.length, sourceType: 'pdf-ocr' },\n    binary: { data: { data: base64, mimeType: 'image/jpeg', fileName: img } }\n  };\n});\n\ntry { fs.unlinkSync(pdfPath); } catch(e) {}\n\nreturn output;"
      },
      "id": "1408d02d-36c5-4a01-b281-740c1b1d7c8c",
      "name": "Convert PDF to Images",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -992,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "const binaryData = $input.item.binary;\nconst jobId = $input.item.json.jobId;\nconst fileName = $input.item.json.fileName;\nconst pageNumber = $input.item.json.pageNumber || 1;\nconst sourceType = $input.item.json.sourceType || 'image';\n\nif (!binaryData || !binaryData.data) return [];\n\nconst base64 = binaryData.data.data;\nconst mimeType = binaryData.data.mimeType || 'image/jpeg';\nconst imageUrl = `data:${mimeType};base64,${base64}`;\n\nconst payload = {\n  model: 'deepseek-ai/DeepSeek-OCR',\n  temperature: 0,\n  messages: [\n    {\n      role: 'user',\n      content: [\n        { type: 'text', text: 'Extract all text from this image. Maintain the original structure and formatting.' },\n        { type: 'image_url', image_url: { url: imageUrl } }\n      ]\n    }\n  ]\n};\n\nreturn [{ json: { jobId, fileName, pageNumber, sourceType, requestPayload: payload } }];"
      },
      "id": "aff5dbeb-e59b-4d6c-9d18-758b33ac598e",
      "name": "Prepare OCR Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        608
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://106.104.117.24:8110/v1/chat/completions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestPayload) }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "104a12ca-aa02-452d-92b4-28d6cd4814cf",
      "name": "DeepSeek OCR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -592,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "const requestItems = $items('Prepare OCR Request');\nconst results = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const request = requestItems[i] || requestItems[0];\n  \n  let text = '';\n  if (item.json.choices && item.json.choices[0] && item.json.choices[0].message) {\n    text = item.json.choices[0].message.content || '';\n  }\n  \n  results.push({\n    json: {\n      jobId: request.json.jobId,\n      fileName: request.json.fileName,\n      pageNumber: request.json.pageNumber,\n      sourceType: request.json.sourceType,\n      text: text\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "95316998-952c-4db0-9efe-73f83f94f6a9",
      "name": "Process OCR Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "const pages = items.map(item => ({\n  pageNumber: item.json.pageNumber || 1,\n  text: item.json.text || ''\n})).sort((a, b) => a.pageNumber - b.pageNumber);\n\nconst mergedText = pages.map(p => `[Page ${p.pageNumber}]\\n${p.text}`).join('\\n\\n');\nconst jobId = items[0].json.jobId;\nconst fileName = items[0].json.fileName;\n\nreturn [{\n  json: {\n    jobId,\n    fileName,\n    content: mergedText,\n    title: fileName.replace(/\\.[^.]+$/, ''),\n    sourceType: 'pdf-ocr',\n    pageCount: pages.length\n  }\n}];"
      },
      "id": "474be795-78f6-4306-b622-b5bcd2686d4b",
      "name": "Merge OCR Pages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "const text = $input.item.json.text || $input.item.json.data || '';\nconst jobId = $('Detect File Type').item.json.jobId;\nconst fileName = $('Detect File Type').item.json.fileName;\n\nreturn [{\n  json: {\n    jobId,\n    fileName,\n    content: text,\n    title: fileName.replace(/\\.[^.]+$/, ''),\n    sourceType: 'pdf-text'\n  }\n}];"
      },
      "id": "6b91f1ee-6d0c-4eda-8338-961cb859ec16",
      "name": "Normalize PDF Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -992,
        400
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const mammoth = require('mammoth');\n\nconst binaryData = $input.item.binary;\nconst jobId = $input.item.json.jobId;\nconst fileName = $input.item.json.fileName;\n\nif (!binaryData) {\n  return { json: { error: 'No file', jobId } };\n}\n\nconst binaryKey = Object.keys(binaryData)[0];\nconst buffer = await this.helpers.getBinaryDataBuffer(0, binaryKey);\n\ntry {\n  const result = await mammoth.extractRawText({ buffer: buffer });\n  return {\n    json: {\n      jobId,\n      fileName,\n      content: result.value,\n      title: fileName.replace(/\\.[^.]+$/, ''),\n      sourceType: 'docx'\n    }\n  };\n} catch (err) {\n  return {\n    json: {\n      jobId,\n      fileName,\n      content: '[Error extracting DOCX]',\n      error: err.message,\n      sourceType: 'docx'\n    }\n  };\n}"
      },
      "id": "984e679a-a8ac-4684-8a46-6fd7f251c093",
      "name": "Extract DOCX",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1600,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const j = item.json;\n  let b64 = '';\n\n  try {\n    if (item.binary) {\n      const binaryKey = Object.keys(item.binary)[0];\n      if (binaryKey) {\n        const buffer = await this.helpers.getBinaryDataBuffer(i, binaryKey);\n        b64 = buffer.toString('base64');\n      }\n    } else if (j.filePath) {\n        const fs = require('fs');\n        if (fs.existsSync(j.filePath)) {\n            const buffer = fs.readFileSync(j.filePath);\n            b64 = buffer.toString('base64');\n        }\n    }\n  } catch (error) {\n    console.error(`Lỗi đọc dữ liệu ảnh tại item ${i}:`, error);\n    continue;\n  }\n\n  if (!b64) { continue; }\n\n  b64 = b64.replace(/\\s/g, '');\n\n  const mime = (item.binary && Object.keys(item.binary)[0] && item.binary[Object.keys(item.binary)[0]].mimeType) || j.mimeType || 'image/jpeg';\n  const imageUrl = `data:${mime};base64,${b64}`;\n\n  const payload = {\n    model: 'deepseek-ai/DeepSeek-OCR',\n    temperature: 0, \n    messages: [\n      { \n        role: 'user', \n        content: [\n          { type: 'text', text: 'Extract all text from this image. If there is no text, describe the content briefly.' },   \n          { type: 'image_url', image_url: { url: imageUrl } }\n        ]\n      }\n    ],\n  };\n\n  results.push({\n    json: {\n      jobId: j.jobId,\n      requestPayload: payload,\n      passthroughData: j\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "7e70f2b9-53c3-47a0-a25b-5db2db1706c1",
      "name": "Prepare Image OCR",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1584,
        640
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://106.104.117.24:8110/v1/chat/completions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestPayload) }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "c81e54f1-af15-46fd-9f11-e20cc4bdcc6c",
      "name": "Image OCR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1392,
        704
      ]
    },
    {
      "parameters": {
        "jsCode": "const requestNode = $('Prepare Image OCR').item.json;\nconst originalInfo = requestNode.passthroughData || requestNode;\n\nlet text = '';\nif ($input.item.json.choices && $input.item.json.choices[0] && $input.item.json.choices[0].message) {\n  text = $input.item.json.choices[0].message.content || '';\n}\n\nconst fileName = originalInfo.fileName || 'unknown_image.jpg';\nconst title = fileName.includes('.') ? fileName.replace(/\\.[^.]+$/, '') : fileName;\n\nreturn [{\n  json: {\n    jobId: originalInfo.jobId,\n    fileName: fileName,\n    content: text,\n    title: title,\n    sourceType: 'image'\n  }\n}];"
      },
      "id": "6c5c75af-dc72-428f-9336-89c6641219b7",
      "name": "Process Image OCR",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1184,
        704
      ]
    },
    {
      "parameters": {
        "jsCode": "const jobId = $input.item.json.jobId;\nconst body = $input.item.json.body || {};\nconst text = body.text || body.content || '';\nconst title = body.title || 'Pasted Text';\n\nreturn [{\n  json: {\n    jobId,\n    content: text,\n    title: title,\n    sourceType: 'paste'\n  }\n}];"
      },
      "id": "4bec5fdd-9e4e-4d0d-a7ef-0ccefd4e1f7c",
      "name": "Process Pasted Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1984,
        1008
      ]
    },
    {
      "parameters": {
        "jsCode": "const binaryData = $input.item.binary;\nconst jobId = $input.item.json.jobId;\nconst fileName = $input.item.json.fileName;\n\nif (!binaryData) {\n  return { json: { error: 'No file', jobId } };\n}\n\nconst binaryKey = Object.keys(binaryData)[0];\nconst buffer = await this.helpers.getBinaryDataBuffer(0, binaryKey);\nconst text = buffer.toString('utf8');\n\nreturn {\n  json: {\n    jobId,\n    fileName,\n    content: text,\n    title: fileName.replace(/\\.[^.]+$/, ''),\n    sourceType: 'text'\n  }\n};"
      },
      "id": "7f8a8860-948d-420d-b670-0679af68b1a0",
      "name": "Extract Text File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1712,
        1056
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "820ffba2-033a-4bc0-8721-afef90f731e9",
      "name": "Fetch Website HTML1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1456,
        1888
      ]
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "content",
              "cssSelector": "body"
            }
          ]
        },
        "options": {
          "trimValues": true
        }
      },
      "id": "0f0ac4da-c557-4d56-845b-d905cdca1e22",
      "name": "Extract Text1",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -1248,
        1888
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Extract YouTube Video ID from URL\nconst url = $input.item.json.url;\nlet videoId = '';\nconst jobId = $input.item.json.jobId; \nconst match1 = url.match(/[?&]v=([a-zA-Z0-9_-]{11})/);\nif (match1) videoId = match1[1];\nconst match2 = url.match(/youtu\\.be\\/([a-zA-Z0-9_-]{11})/);\nif (match2) videoId = match2[1];\nconst match3 = url.match(/embed\\/([a-zA-Z0-9_-]{11})/);\nif (match3) videoId = match3[1];\n\nreturn {\n  json: {\n    ...($input.item.json),\n    jobId,\n    videoId,\n    sourceType: 'youtube'\n  }\n};"
      },
      "id": "921d8334-a4ed-4f98-ba9c-2269427666d1",
      "name": "Extract Video ID1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1552,
        2096
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/scrape-creators~best-youtube-transcripts-scraper/run-sync-get-dataset-items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"videoUrls\": [\n    \"https://www.youtube.com/watch?v={{ $json.videoId }}\"\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1344,
        2096
      ],
      "id": "53ef1b5b-0518-4512-8802-daddde31e24a",
      "name": "HTTP Request1",
      "credentials": {
        "httpQueryAuth": {
          "id": "Hhz5k0wsXZ94ZKIM",
          "name": "Query Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// [FIX v2] Xử lý hàng loạt Web & Khôi phục JobID + notebookId\nconst items = $input.all();\nconst results = [];\n\n// Lấy dữ liệu gốc từ Batch File Router để không bị mất thông tin\nlet batchItems = [];\ntry {\n    batchItems = $('Batch File Router').all();\n} catch (e) { console.log('Cannot get Batch File Router items'); }\n\n// Lấy JobID và notebookId gốc từ node khởi tạo\nlet globalJobId = 'unknown-job';\nlet globalNotebookId = 'default';\ntry {\n    const initJob = $('Init Job').first().json;\n    globalJobId = initJob.jobId;\n    globalNotebookId = initJob.body?.notebookId || 'default';\n} catch (e) {}\n\nfunction cleanWebContent(rawText) {\n  if (!rawText) return '';\n  let content = rawText;\n  content = content.replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n                   .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n                   .replace(/<[^>]+>/g, ' ')\n                   .replace(/\\s+/g, ' ').trim();\n  return content;\n}\n\nfunction extractTitle(url, content) {\n  const titleMatch = content.match(/^#+\\s*(.+?)(?:\\n|$)/);\n  if (titleMatch) return titleMatch[1].trim();\n  if (url) {\n    try {\n        const urlParts = url.split('/').filter(p => p);\n        const last = urlParts[urlParts.length - 1];\n        if (last && last.length > 3) {\n            return last.replace(/[-_]/g, ' ').replace(/\\.\\w+$/, '');\n        }\n    } catch(e) {}\n  }\n  return 'Website Source';\n}\n\n// VÒNG LẶP: Xử lý từng trang web\nfor (let i = 0; i < items.length; i++) {\n    const item = items[i];\n    const json = item.json;\n    const html = json.data || json.content || '';\n    \n    // Lấy thông tin gốc từ batch item tương ứng\n    const batchItem = batchItems[i]?.json || {};\n    const url = batchItem.url || json.url || (json.body ? json.body.url : '');\n    const fileIndex = batchItem.fileIndex ?? i;\n    const totalFiles = batchItem.totalFiles ?? items.length;\n    const notebookId = batchItem.notebookId || globalNotebookId;\n\n    let content = cleanWebContent(html);\n    const title = extractTitle(url, content);\n\n    if (content.length > 20000) content = content.substring(0, 20000) + '...';\n\n    results.push({\n        json: {\n            jobId: globalJobId,\n            notebookId: notebookId,\n            fileIndex: fileIndex,\n            totalFiles: totalFiles,\n            fileName: url,\n            url: url,\n            content: content,\n            title: title || url,\n            sourceType: 'website',\n            isBatch: true\n        }\n    });\n}\n\nconsole.log('Clean Web Content_Multiple processed ' + results.length + ' items for notebook: ' + globalNotebookId);\nreturn results;"
      },
      "id": "5410350d-3bdf-47aa-af3f-414dfba0ab4e",
      "name": "Clean Web Content_Multiple",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1056,
        1888
      ]
    },
    {
      "parameters": {
        "jsCode": "// [FIX v2] Xử lý hàng loạt YouTube & Khôi phục JobID + notebookId\nconst items = $input.all();\nconst results = [];\n\n// Lấy dữ liệu gốc từ Extract Video ID1 để không bị mất thông tin\nlet videoItems = [];\ntry {\n    videoItems = $('Extract Video ID1').all();\n} catch (e) { console.log('Cannot get Extract Video ID1 items'); }\n\n// Lấy JobID và notebookId gốc\nlet globalJobId = 'unknown-job';\nlet globalNotebookId = 'default';\ntry {\n    const initJob = $('Init Job').first().json;\n    globalJobId = initJob.jobId;\n    globalNotebookId = initJob.body?.notebookId || 'default';\n} catch (e) {}\n\n// VÒNG LẶP: Xử lý từng video\nfor (let i = 0; i < items.length; i++) {\n    const item = items[i];\n    const inputData = item.json;\n    \n    // Lấy thông tin gốc từ video item tương ứng\n    const videoItem = videoItems[i]?.json || {};\n    const url = videoItem.url || inputData.url || 'https://youtube.com';\n    const fileIndex = videoItem.fileIndex ?? i;\n    const totalFiles = videoItem.totalFiles ?? items.length;\n    const notebookId = videoItem.notebookId || globalNotebookId;\n    \n    let transcript = '';\n    let title = 'YouTube Video';\n    let thumbnail = '';\n\n    try {\n        let response = inputData;\n        if (Array.isArray(inputData) && inputData.length > 0) {\n            response = inputData[0];\n        }\n        \n        title = response.title || title;\n        thumbnail = response.thumbnail || '';\n        \n        if (response.transcript_only_text) {\n            transcript = response.transcript_only_text;\n        } else if (response.text) {\n            transcript = response.text;\n        } else if (Array.isArray(response.transcript)) {\n            transcript = response.transcript.map(t => t.text).join(' ');\n        }\n    } catch (e) {\n        console.log('Error parsing youtube response');\n    }\n\n    transcript = String(transcript || '').trim();\n\n    if (transcript.length > 50) {\n        results.push({\n            json: {\n                jobId: globalJobId,\n                notebookId: notebookId,\n                fileIndex: fileIndex,\n                totalFiles: totalFiles,\n                fileName: url,\n                url: url,\n                content: transcript,\n                title: title,\n                thumbnail: thumbnail,\n                sourceType: 'youtube',\n                isBatch: true\n            }\n        });\n    } else {\n        results.push({\n            json: {\n                jobId: globalJobId,\n                notebookId: notebookId,\n                fileIndex: fileIndex,\n                totalFiles: totalFiles,\n                fileName: url,\n                url: url,\n                content: '[Error: No transcript found for this video]',\n                title: title,\n                sourceType: 'youtube',\n                isBatch: true,\n                error: true\n            }\n        });\n    }\n}\n\nconsole.log('Process Transcript_Multiple processed ' + results.length + ' videos for notebook: ' + globalNotebookId);\nreturn results;"
      },
      "id": "85216e22-6ae7-4f51-9582-98e80882242e",
      "name": "Process Transcript_Multiple",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1152,
        2096
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Init Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action Router": {
      "main": [
        [
          {
            "node": "URL Router",
            "type": "main",
            "index": 0
          },
          {
            "node": "init response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Detect File Type",
            "type": "main",
            "index": 0
          },
          {
            "node": "init response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Pasted Text",
            "type": "main",
            "index": 0
          },
          {
            "node": "init response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Load Session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Batch Files",
            "type": "main",
            "index": 0
          },
          {
            "node": "init response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Invalid Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Batch Files": {
      "main": [
        [
          {
            "node": "Batch File Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch File Router": {
      "main": [
        [
          {
            "node": "Batch Extract PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Batch Prepare Image OCR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Batch Extract DOCX",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Video ID1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Website HTML1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Batch Extract Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Extract PDF": {
      "main": [
        [
          {
            "node": "Batch Normalize PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Normalize PDF": {
      "main": [
        [
          {
            "node": "Batch Collect Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Extract DOCX": {
      "main": [
        [
          {
            "node": "Batch Collect Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Extract Text": {
      "main": [
        [
          {
            "node": "Batch Collect Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Prepare Image OCR": {
      "main": [
        [
          {
            "node": "Batch Image OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Image OCR": {
      "main": [
        [
          {
            "node": "Batch Process Image OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Process Image OCR": {
      "main": [
        [
          {
            "node": "Batch Collect Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Collect Results": {
      "main": [
        [
          {
            "node": "Batch Prepare Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Prepare Summary": {
      "main": [
        [
          {
            "node": "Batch LLM Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch LLM Summarize": {
      "main": [
        [
          {
            "node": "Batch Save Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URL Router": {
      "main": [
        [
          {
            "node": "Extract Video ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Video ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Website HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Video ID": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Transcript": {
      "main": [
        [
          {
            "node": "Prepare For LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Website HTML": {
      "main": [
        [
          {
            "node": "Extract Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text": {
      "main": [
        [
          {
            "node": "Clean Web Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Web Content": {
      "main": [
        [
          {
            "node": "Prepare For LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Summarize": {
      "main": [
        [
          {
            "node": "Save Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Session": {
      "main": [
        [
          {
            "node": "Session Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session Valid?": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Chat Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Chat": {
      "main": [
        [
          {
            "node": "Format Chat Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Chat Response": {
      "main": [
        [
          {
            "node": "Respond Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Process Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Status": {
      "main": [
        [
          {
            "node": "Respond Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Status": {
      "main": [
        [
          {
            "node": "Get Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Job": {
      "main": [
        [
          {
            "node": "Action Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "init response": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare For LLM": {
      "main": [
        [
          {
            "node": "LLM Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Chat Request": {
      "main": [
        [
          {
            "node": "LLM Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect File Type": {
      "main": [
        [
          {
            "node": "File Type Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Type Router": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Image OCR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract DOCX",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Text File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Invalid Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Check PDF Has Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check PDF Has Text": {
      "main": [
        [
          {
            "node": "PDF Text Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF Text Router": {
      "main": [
        [
          {
            "node": "Convert PDF to Images",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize PDF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert PDF to Images": {
      "main": [
        [
          {
            "node": "Prepare OCR Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare OCR Request": {
      "main": [
        [
          {
            "node": "DeepSeek OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek OCR": {
      "main": [
        [
          {
            "node": "Process OCR Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process OCR Result": {
      "main": [
        [
          {
            "node": "Merge OCR Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge OCR Pages": {
      "main": [
        [
          {
            "node": "Prepare For LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize PDF Text": {
      "main": [
        [
          {
            "node": "Prepare For LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract DOCX": {
      "main": [
        [
          {
            "node": "Prepare For LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Image OCR": {
      "main": [
        [
          {
            "node": "Image OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image OCR": {
      "main": [
        [
          {
            "node": "Process Image OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Image OCR": {
      "main": [
        [
          {
            "node": "Prepare For LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Pasted Text": {
      "main": [
        [
          {
            "node": "Prepare For LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text File": {
      "main": [
        [
          {
            "node": "Prepare For LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Website HTML1": {
      "main": [
        [
          {
            "node": "Extract Text1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text1": {
      "main": [
        [
          {
            "node": "Clean Web Content_Multiple",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Video ID1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Process Transcript_Multiple",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Web Content_Multiple": {
      "main": [
        [
          {
            "node": "Batch Collect Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Transcript_Multiple": {
      "main": [
        [
          {
            "node": "Batch Collect Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "versionId": "556beff5-6b7f-43b0-81c1-4817663c0a5d",
  "meta": {
    "instanceId": "7cbcc4adf912a2f3f05c6610dc356ed5371442f57496230d911b4916e255a0cb"
  },
  "id": "zjrRau6RQrvKJ9Pl",
  "tags": []
}